.container{
    margin: .2em;
    padding: .2em 0em;
    display: flex;
    width: 50%;
    border: .08em;
    border-style: none none solid none;
    border-color: #d1d1d1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.container:hover{
    border: .08em solid;
    border-color: #d1d1d1;
    border-radius: 0.8em;

    box-shadow: .0em .1em #d1d1d1 ;
}

.cityState{
    color: #d1d1d1;
    font-size: larger;
    font-weight: bold;
}
.temperature{
    color: #d1d1d1;
    font-size: larger;
    font-weight: bold;
}