.divPrincipal{
    padding: .2em 0em;
    margin: 1em;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: .08em;
    border-style: none none solid none;
    border-color: #d1d1d1;
}
.divPrincipal:hover{
    box-shadow: .0em .1em #d1d1d1 ;
}

.inputProcura{
    color: #d1d1d1;
    background-color: transparent;
    width: 80%;
    border: 0;
    border-color: transparent;
}
.inputProcura:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-color: transparent;
}
.inputProcura::placeholder{
    color: #ffffff52 ;
}

.imgLupa{
    border: 0;
    border-color: transparent;
    width: 20px;
    height: 20px;
}